*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		body{
			background-color: #F5F5F5;
		}
		.outer{
			width: 100%;		}
		header{
			width: 100%;
			background-color: rgb(49, 49, 49);
		}
		nav{
			width: 100%;
			background-color: rgb(49, 49, 49);
			position: sticky;
			top: -1px;
			/* margin-top: -0.2px; */
			z-index: 100;
		}
		nav .leve1{
			padding: 0px;
			/* padding-left: 100px; */
			margin: 0px;
		}
		nav .leve1>li{
			list-style-type: none;
			display: inline-block;
			width: 14%;
			height: 40px;
			text-align: center;
		}
		nav .leve1 a{
			text-decoration: none;
			font-size: 15px;
			color: white;
			line-height: 40px;
			
		}
		nav .leve1>li:hover{
			background-color: #e5474b ;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s ;
			-ms-transition: all 0.3s ;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		.leve2>li:hover{
			background-color: #e5474b;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		nav .leve1>li:hover a{
			color: white;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		nav .leve2{
			display: none;
			position: absolute;
			background-color: rgb(49, 49, 49);
			width: 13.7%;
			z-index: 2
		}
		nav .leve2>li{
			list-style-type: none;
		}
		nav .leve2 a{
			text-decoration: none;
		}
		nav .leve1>li:hover .leve2{
			display: block;
			-webkit-transition: all 2s;
			-moz-transition: all 2s;
			-ms-transition: all 2s;
			-o-transition: all 2s;
			transition: all 2s;
		}
		
		img{
			overflow: hidden;
		}
		/* article .col-sm-8 .col-sm-3 img{
			padding-top: 10px;
		} */
		article .col-sm-8 .col-sm-3:hover img{
			transform: scale(1.1);
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		article .col-sm-8>p{

			height: 60px;
			font-weight: bold;
			font-size: 20px;
			padding-top: 30px;
		}
		article .col-sm-8{
			background-color: white;
		}
		article .col-sm-8 .col-sm-2{
			background-color: white;
		}
		
		article .col-sm-8 .col-sm-2 a{
			text-decoration: none;
			color: black;
		}
		
		footer {
			background-color: rgb(49, 49, 49);
			color: white;
			margin-top: 30px;
			top: 0;
			clear: both;
		}
		#message{
			width: 300px;
			height: 100%;
			text-align: center;
		}
		#message1{
			text-align: center;
			padding-top: 0;
			font-size: 20px;
			font-weight: 700;
		}
		.col-sm-8 p{
			padding-top: 20px;
		}
		.card{
			border: 1px solid lightgray;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		.card-text{
			font-weight: 520;
			font-family: Arial, Helvetica, sans-serif;
			height: 200px;
		}
		@media screen and (min-width: 320px) and (max-width: 1112px) {
			.leve1 li{
				display: block !important;
				/* color: red; */
				width: 100% !important;
				text-align: center;
				padding: 0% !important;
				margin-right: 0 !important;
			} 
			nav{
				position: relative;
			}
			footer p{
				font-size: 10px !important;
			}
			.card{
				width: 50%;
				margin: 0 auto;
				height: 20%;
			}
		
		}
		.card-title{
			font-weight: 200;
			font-size: 20px;
		}

		#search{
			margin-top: 9px; 
			background-color: #e5474b; 
			width: 38px; height: 34px; 
			margin-left: -33px; 
			border-radius: 0 5px 5px 0; 
			border: none;
		}
		footer a:hover i{
			color: #e5474b;
		}
		
		#thongsoinfo .col-sm-5{
			color: #e5474b;
		}
		
		#thongsoinfo >div{
			margin-left: 0px;
			padding-bottom: 10px;
		}
/* btn */
		.info {
			border-color: #2196F3;
			color: dodgerblue;
			background-color: white;
		}
		.warning {
			border-color: #ff9800;
			color: orange;
		}
		article .col-sm-8 .col-sm-3:hover .warning{
			background-color: #ff9800;
			color: white;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-ms-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}
		article .col-sm-8 .col-sm-3:hover .info{
			background-color: #2196F3;
			color: white;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-ms-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}